<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  </head>

  <body>
    <% include components/header %>
    <div class="w-7xl max-w-7xl h-auto flex item-center justify-start m-auto mt-8 mb-10 gap-10">
      <!-- left column -->
      <div class="w-full md:w-3/4 h-auto">
        <!-- main news -->
        <div class="w-full h-auto mb-4 border-b-[1px] border-gray-200 border-solid">
          <p class="text-blue-700 text-sm my-1">Thể thao</p>
          <p class="text-3xl mt-2 mb-6">
            <a href="#"
              >SEA Games 31 thi đấu sòng phẳng, gây ấn tượng mạnh từ những khán
              đài đầy ắp khán giả</a
            >
          </p>
          <img
            class="w-full max-h-96 object-cover"
            src="https://cdnmedia.baotintuc.vn/Upload/XjfgEPYM30O8z6jY3MHxSw/files/2022/05/2305/nu.jpg"
            alt="seagame 31"
          />
          <p class="mt-4 mb-2 text-gray-500 text-sm">
            Nguyễn Châu Quyền - 7 phút trước
          </p>
          <p class="mb-4">
            Từ những lo ngại về ảnh hưởng của dịch bệnh đến một kỳ đại hội đầy
            thành công, Trưởng đoàn thể thao Việt Nam Trần Đức Phấn khẳng định:
            SEA Games 31 với những khán đài đầy ắp khán giả, những kỷ lục mới,
            trở thành nơi hội tụ những ngôi sao thể thao Đông Nam Á và điểm đến
            gắn kết người hâm mộ khu vực.
          </p>
        </div>
        <!-- end main news -->
        <!-- sub news -->
        <div class="w-full h-auto grid grid-cols-1 md:grid-cols-2 gap-x-10 gap-y-0">
          <%- include('components/new_card', { showImage: true }); %>
          <%- include('components/new_card', { showImage: true }); %>
          <%- include('components/new_card', { showImage: true }); %>
          <%- include('components/new_card', { showImage: true }); %>
          <%- include('components/new_card', { showImage: true }); %>
          <%- include('components/new_card', { showImage: true }); %>
          <%- include('components/new_card', { showImage: true }); %>
        </div>
        <!-- end sub news -->
      </div>
      <!-- end left column -->
      <!-- right column -->
      <div class="w-1/4 h-auto hidden md:flex flex-col">
        <%- include('components/new_card', { showImage: false }) %>
        <%- include('components/new_card', { showImage: false }) %>
        <%- include('components/new_card', { showImage: false }) %>
        <%- include('components/new_card', { showImage: false }) %>
        <%- include('components/new_card', { showImage: false }) %>
      </div>
      <!-- end right column -->
    </div>
  </body>
</html>
