<!DOCTYPE html>
<html>
  <head>
    <title>Tin tức hôm nay</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <% include components/header %>
    <div
      class="w-7xl max-w-7xl h-auto flex item-center justify-start m-auto mt-8 mb-10 gap-10"
    >
      <!-- left column -->
      <div class="w-full md:w-3/4 h-auto">
        <!-- main news -->
        <div
          class="w-full h-auto mb-4 border-b-[1px] border-gray-200 border-solid"
        >
          <p class="text-blue-700 text-sm my-1">Thể thao</p>
          <p class="text-3xl mt-2 mb-6">
            <a href="#"><%= news[0].title %></a>
          </p>
          <img class="w-full max-h-96 object-cover" src=<%=
          `http://localhost:8080/images/${news[0].image}` %> alt="seagame 31" />
          <p class="mt-4 mb-2 text-gray-500 text-sm">
            <%= news[0].author[0].fullName%> - <%= news[0].createdAt %>
          </p>
          <p class="mb-4"><%= news[0].content %></p>
        </div>
        <!-- end main news -->
        <!-- sub news -->
        <div
          class="w-full h-auto grid grid-cols-1 md:grid-cols-2 gap-x-10 gap-y-0"
        >
          <% for(var i = 1; i < 7; i++) {%> <%- include('components/new_card', {
          showImage: true, news: news[i] }); %> <% } %>
        </div>
        <!-- end sub news -->
      </div>
      <!-- end left column -->
      <!-- right column -->
      <div class="w-1/4 h-auto hidden md:flex flex-col">
        <% for(var i = 8; i < news.length; i++) {%> <%-
        include('components/new_card', { showImage: false, news: news[i] }); %>
        <% } %>
      </div>
      <!-- end right column -->
    </div>
  </body>
</html>
